@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;700&display=swap");
:root {
  --primary: #293264;
  --primaryBase: #f5f7fb;
  --primaryLight: #4d5b9e;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBase);
}
.App {
  width: 100vw;
  height: 100%;
  padding: 10px;
  font-family: "Karla";
  color: var(--primary);
  letter-spacing: 1.2px;
}
.App .blob1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.App .blob2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Start Page */

.start--page {
  text-align: center;
}
.start--page h1 {
  display: block;
  font-style: normal;
  font-weight: 700;
}
.start--page p {
  font-family: "Inter";
  margin-bottom: 30px;
}
.start--page button {
  background: var(--primaryLight);
  border-radius: 15px;
  width: 190px;
  height: 50px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: var(--primaryBase);
  border: none;
  cursor: pointer;
}
/* Config Page */
.config--page {
  text-align: center;
}
.config--page label,
input,
select {
  display: block;
  margin: 20px;
  width: 250px;
  font-size: 15px;
  color: var(--primary);
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: left;
}
.config--page label {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.config--page input,
select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  padding: 5px;
}
.config--page button {
  background: var(--primaryLight);
  margin: 10px 0;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: var(--primaryBase);
  border: none;
  cursor: pointer;
}
/* GamePage */
.game--page {
  z-index: 1;
  text-align: center;
}
.check--btn {
  background: var(--primaryLight);
  margin: 10px 0;
  border-radius: 15px;
  width: 160px;
  height: 50px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: var(--primaryBase);
  border: none;
  cursor: pointer;
}
.question--container {
  text-align: left;
  margin: 0 20px;
  border-bottom: 0.8px solid #dbdef0;
  padding: 20px;
}
.question {
}
.option {
  cursor: pointer;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 12px;
  color: var(--primary);
  border: 1px solid var(--primaryLight);
  background-color: transparent;
}
